#first:hover{
    border: 5px solid red;
    border-radius: 100%;

}
#second:hover{
  display: none;
}
#thired:hover{
  border: 5px dotted green;
  width: 300px;
  height: 300px;


}
img{
    border: 5px solid seagreen;
    margin:  20px;
    

}